{% extends 'board_game/base.html' %}

{% block page_header %}
	<div class="p-3 mb-4 bg-light border rounded-3">
		<div class="container-fluid py-4">
			<h1 class="display-3">Board games and who's loaning them.</h1>
				<p class="lead">Keep track of your board games. 
					Whenever you want to loan a game to a friend or for yourself, you can easily keep track of where your game is going here.
				</p>
				<a class="btn btn-primary btn-lg mt-1" href="{% url 'accounts:register' %}">Register &raquo;</a>
		</div>
	</div>
{% endblock page_header %}